*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: greenyellow;
  font-size: 1.7rem;
  height: 100vh;
  width: 100vw;
}
.todoApp {
  background-color: green;
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}
input,
button {
  border-radius: 45px;
  border: none;
  font-size: 1.5rem;
}
input {
  padding: 1.5rem 30px;
  width: 70%;
}
button {
  background-color: green;
  width: 20%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.empty-state-message {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 0px;
}
h2 {
  font-size: 2rem;
  font-family: sans-serif;
}
.taskList {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 2rem 0px;
}
.outputTask {
  display: flex;
  padding: 5px;
  font-size: 1.5rem;
}
.title {
  display: flex;
  border-bottom: 2px dashed black;
  padding: 5px;
  font-weight: bold;
}
.hash,
.task,
.status,
.action {
  display: flex;
  justify-content: center;
}
.hash {
  width: 5%;
}
.task {
  width: 65%;
}
.status {
  width: 15%;
}
.action {
  width: 15%;
}
.outTask {
  display: flex;
  justify-content: left;
  padding-left: 5px;
}
.close,
.done {
  cursor: pointer;
}
